extends ../shared/template

block content

  header
    h1 Builder 2.0
    #controls
      input#username(type='text', autofocus=true, placeholder='Username')
      button#login Login

  #dashboard

  #forest

block scripts
  script(src='/js/es6/compiled/game.js')
